<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elon Mask - Education</title>
    
</head>
<body>
    <header>
        
        
    </header>

    <main>
        <section id="education">
            <h2>Education</h2>
            <div class="education-item">
                <h3>Bachelor of science (BS), Economics</h3>
                <p>University of Pennsylvania, june 1990 - july 1994</p>
              
            </div>

            <div class="education-item">
                <h3>Bachelor of Arts(BA), physics</h3>
                <p>University of Pennsylvania, july 1994 - august 1997</p>
                
            </div>

           
        </section>
    </main>

   
</body>
</html>


