.footer{ 
    background-color: #00bfff; 
    text-align: center;
    padding: 6px 0;
}

.footer-content {
    margin-bottom: 10px;
}

.footer-text {
    font-size: 16px;
}

.white-text {
    color: white;
}

.highlighted-text {
    color: black; 
}

.social-icons a {
    text-decoration: none;
    color: white; 
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: black; 
}
