<div class="container about-section">
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="/Elon_About.jpg" alt="Elon Musk" class="profile-image" />
      </div>
      <div class="col-md-8">
        <h2> Elon Musk</h2>
        <p>
          Elon Musk is a visionary entrepreneur, engineer, and industrial
          designer. He is the founder, CEO, and chief engineer of SpaceX; early
          investor, CEO, and product architect of Tesla, Inc.; owner and CEO of
          X.com (formerly Twitter); and much more.
        </p>

        <div class="personal-details card">
          <h4>Personal Details</h4>
          <p><strong>Date of Birth:</strong>28/06/1971</p>
          <p><strong>Nationality:</strong>South African, Canadian, American</p>
          <p><strong>Occupation:</strong> {{ aboutDetails.occupation }}</p>
          <p><strong>Email:</strong> {{ aboutDetails.email }}</p>
          <p><strong>Phone:</strong> {{ aboutDetails.phone }}</p>

        </div>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>


