<h1 align="center">About</h1>
<div class="container about-section">
  <div *ngIf="!authService.isAuthenticated(); else redirectToUpdate">
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="/Elon_About.jpg" alt="Elon Musk" class="profile-image" />
      </div>
      <div class="col-md-8">
        <h2> Elon Musk</h2>
        <p>
          Elon Musk is a visionary entrepreneur, engineer, and industrial
          designer. He is the founder, CEO, and chief engineer of SpaceX; early
          investor, CEO, and product architect of Tesla, Inc.; owner and CEO of
          X.com (formerly Twitter); and much more.
        </p>

        <div class="personal-details card">
          <h4>Personal Details</h4>
          <p><strong>Date of Birth:</strong>28/06/1971</p>
          <p><strong>Nationality:</strong>South African, Canadian, American</p>
          <p><strong>Occupation:</strong> {{ aboutDetails.Occupation }}</p>
          <p><strong>Email:</strong> {{ aboutDetails.Email }}</p>
          <p><strong>Phone:</strong> {{ aboutDetails.Phone }}</p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #redirectToUpdate>
    <h2>Edit Your Details</h2>
    <form (submit)="onSave()">
      <div class="form-group">
        <label for="occupation">Occupation</label>
        <input type="text" [(ngModel)]="aboutDetails.Occupation" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="aboutDetails.Email" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" [(ngModel)]="aboutDetails.Phone" class="form-control" required />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <button (click)="onLogout()" class="btn btn-secondary">Logout</button>
  </ng-template>
</div>
