.about-section {
    background-color: #f8f9fa;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 2rem rgba(5, 164, 226, 0.15);
  }
  
  .profile-image {
    border-radius: 3%;
    width: 337px;
    height: 396px;
    object-fit: cover;
  }
  
  .personal-details {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .personal-details h4 {
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .personal-details p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  strong {
    font-weight: 600;
  }
  