.navbar {
    background-color: #f8f9fa;
  }
  
  .navbar-brand img {
    height: 30px;
  }
  .navbar-nav {
    margin-left: auto; 
  }
  
  .navbar-nav .nav-link {
    padding: 0.5rem 1rem; 
    color: #495057; 
    font-weight: bold; 
  }
  
  .navbar-nav .nav-link:hover {
    color: #007bff; /* Link hover color */
  }