
<div class="container mt-5">
    <h1 class="text-center">Skills</h1>
<div class="row">
<div class="col-lg-4 col-md-6 mb-4">
<div class="card h-100">
<div class="card-body">
<h5 class="card-title">Entrepreneurship</h5>
<p class="card-text">Founding and leading innovative companies.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
<div class="card h-100">
<div class="card-body">
<h5 class="card-title">Engineering</h5>
<p class="card-text">Designing and building advanced technologies.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
<div class="card h-100">
<div class="card-body">
<h5 class="card-title">Innovation</h5>
<p class="card-text">Pushing the boundaries of science and technology.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
<div class="card h-100">
<div class="card-body">
<h5 class="card-title">Space Exploration</h5>
<p class="card-text">Revolutionizing space travel with SpaceX.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
<div class="card h-100">
<div class="card-body">
<h5 class="card-title">Electric Vehicles</h5>
<p class="card-text">Leading the transition to sustainable transportation with Tesla.</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 mb-4">
<div class="card h-100">
<div class="card-body">
<h5 class="card-title">Artificial Intelligence</h5>
<p class="card-text">Advancing AI research and development.</p>
</div>
</div>
</div>
</div>
</div>
