<div class="body">
  <div class="container">
    <div class="left-section">
        <h1>ELON MUSK</h1>
        <p>Elon Reeve Musk FRS is a business magnate, industrial designer, and engineer.
           He is the founder, CEO, CTO, and chief designer of SpaceX.</p>
        <a href="/elon-musk-resume-1.pdf" class="read-more">Resume<span>&rarr;</span></a>

        <div class="icons">
            <a href="https://www.facebook.com" target="_blank" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.linkedin.com" target="_blank" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" class="social-icon">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
    </div>
    <div class="right-section">
        <img src="/elon.webp" alt="Elon Musk">
    </div>
</div>
</div>
