<h1 align="center">Extra curricular activities</h1>
<section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://i.ytimg.com/vi/nfiRd4Y5z_g/maxresdefault.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Hosting and Cameos</h2>
          <p>
            Musk has made guest appearence on TV shows such as "Saturday Night Live" and has had cameos in films like "Iron man 2".
          </p>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="https://mclaren.scene7.com/is/image/mclaren/McLaren-F1-1200x1200:crop-4x3?wid=1920&hei=1440" alt="" />
        </figure>
        <div class="article-body">
          <h2>Car collection</h2>
          <p>
            He has a passion for cars and has owned various vehicles,including a McLaren F1, Lotus Esprit submarine car, and classic cars.
          </p>
          
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="https://cdn.britannica.com/07/145407-050-8DBD77E9/belts.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Martial Arts and Fitness</h2>
          <p>
            Musk has shown interest in physical fitness and has practiced martial arts like Brazilian Jiu-Jitsu and taekwondo.
          </p>
         
        </div>
      </div>
    </article>  
  </section>